[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "noia"]
	path = noia
	url = https://github.com/lerouzic/noia
[submodule "sra"]
	path = sra
	url = https://github.com/lerouzic/sra
[submodule "vhica"]
	path = vhica
	url = https://github.com/lerouzic/vhica
